{% extends "layouts/base.html" %}

{% block title %}Add Assignments{% endblock %}

{% block logout %}<a href="/logout" class="logout">Logout</a>{% endblock %}

{% block nav %}
  {% if g.user['role'] == 'teacher' %}
    <li><a href="/" class="nav-link">Home</a></li>
  {% endif %}
{% endblock %}

{% block content %}
  <form method="post">
    <label for="assignment_name">Assignment Name
      <input type="text" name="assignment_name" required/>
    </label>
    <label for="assignment_description">Assignment Description
      <input type="text" name="assignment_description" required/>
    </label>
    <label for="assignment_type">Assignment Type
      <div class="border">
        <input type="radio" name="type" value="default" required  class="type"> Standard
        <input type="radio" name="type" value="file" required  class="type"> File Upload
      </div>
    </label>
    <input type="submit" value="Add Assignment" class="submit" />
  </form>
{% endblock %}
