{% extends "layouts/base.html" %}

{% block title %}Edit Assignments{% endblock %}

{% block logout %}<a href="/logout" class="logout">Logout</a>{% endblock %}

{% block nav %}
  {% if user[3] == 'teacher' %}
    <li><a href="/" class="nav-link">Home</a></li>
    <li><a href="/assignments/list" class="nav-link">Assignment List</a></li>
  {% endif %}
{% endblock %}

{% block content %}
  <form method="post">
    <label for="assignment_number">Assignment Number
      <input type="text" name="assignment_number" value="{{ assignment[1] }}" required/>
    </label>
    <label for="assignment_title">Assignment Title
      <input type="text" name="assignment_title" value="{{ assignment[2] }}" required/>
    </label>
    <input type="submit" value="Update assignment" class="submit" />
  </form>
{% endblock %}
