{% extends "layouts/base.html" %}

{% block title %}Edit Assignments{% endblock %}

{% block logout %}<a href="/logout" class="logout">Logout</a>{% endblock %}

{% block nav %}
    <li><a href="/" class="nav-link">Home</a></li>
    <li><a href="/courses/list" class="nav-link">Course List</a></li>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="assignment_name">Assignment Name
      <input type="text" name="assignment_name" value="{{ assignment['assignment_name'] }}" required/>
    </label>
    <label for="assignment_description">Assignment Description
      <input type="text" name="assignment_description" value="{{ assignment['assignment_description'] }}" required/>
    </label>
    <label for="assignment_type" class="half-label">Assignment Type
      <div class="border">
        {% if assignment['type'] == 'default' %}
          <input type="radio" name="type" value="default" disabled checked class="type"> Standard
          <input type="radio" name="type" value="file" disabled  class="type"> File Upload
        {% elif assignment['type'] == 'file' %}
          <input type="radio" name="type" value="default" disabled class="type"> Standard
          <input type="radio" name="type" value="file" disabled checked class="type"> File Upload
        {% endif %}
      </div>
    </label>
    <label for="total_points" class="half-label">Points Possible
      <input type="number" min ="0" name="total_points" value="{{assignment['total_points']}}" required/>
    </label>
    <input type="submit" value="Update Assignment" class="submit" />
  </form>
{% endblock %}
