{% extends "layouts/base.html" %}

{% block title %}Edit Assignments{% endblock %}

{% block logout %}<a href="/logout" class="logout">Logout</a>{% endblock %}

{% block nav %}
  {% if g.user['role'] == 'teacher' %}
    <li><a href="/" class="nav-link">Home</a></li>
  {% endif %}
{% endblock %}

{% block content %}
  <form method="post">
    <label for="assignment_name">Assignment Name
      <input type="text" name="assignment_name" value="{{ assignment[1] }}" required/>
    </label>
    <label for="assignment_description">Assignment Description
      <input type="text" name="assignment_description" value="{{ assignment[2] }}" required/>
    </label>
    <input type="submit" value="Update Assignment" class="submit" />
  </form>
{% endblock %}
