{% extends "layouts/base.html" %}

{% block title %}Grade{% endblock %}

{% block logout %}<a href="/logout" class="logout">Logout</a>{% endblock %}

{% block nav %}
  {% if g.user['role'] == 'teacher' %}
    <li><a href="/" class="nav-link">Home</a></li>
  {% endif %}
{% endblock %}

{% block content %}
  <form method="post">
    <label for="points_scored">Points Earned
      <input type="number" min ="0" max="{{ assignment['total_points'] }}" name="points_scored" required/>
    </label>
    <label for="feedback">Feedback
      <input type="text" name="feedback" required/>
    </label>
    <input type="submit" value="Update Grade" class="submit" />
  </form>
{% endblock %}
