{% extends "layouts/base.html" %}

{% block title %}{{ course['course_number'] }} {{ course['course_title'] }}{% endblock %}

{% block logout %}<a href="/logout" class="logout">Logout</a>{% endblock %}

{% block nav %}
  {% if g.user['role'] == 'student' %}
    <li><a href="/" class="nav-link">Home</a></li>
    <li><a href="/courses/list" class="nav-link">Your Schedule</a></li>
  {% endif %}
{% endblock %}

{% block content %}
  {% if g.user['role'] == 'student' %}
    <h2>{{ assignment['assignment_name'] }}</h2>
    <p>{{ assignment['assignment_description'] }}</p>
  {% endif %}
{% endblock %}
