/**
 * Global Defaults and Typography
 */
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-size: 18px;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Crimson Text', serif;
  font-weight: 400;
}


/**
 * Layout
 */
body {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 1rem;
}

@media (min-width: 760px) {
  footer {
    display: flex;
    justify-content: space-between;
  }
  footer h2,
  footer address {
    width: 40%;
  }
}

main {
  font-size: 1.5rem;
}


/**
 * Forms
 */
form {
  border: 1px solid black;
  margin: 0 auto;
  padding: 1rem;
  width: 35vw;
}

label {
  display: block;
  padding-bottom: 1rem;
}

label input {
  width: 100%;
}

label input[type="number"] {
  width: 25%;
  display: block;
}

label[for="total_points"] {
  display: inline-block;
}

.half-label {
  width: 45%;
  display: inline-block;
}

input.type{
  width: auto;
  margin-left: 5%;
}

.border{
  border: 1px solid #ccc;
  padding: 8px;
  font-size: 1rem;
}


/**
 * Elements
 */

 h1 {
   background-color: #a6093d;
   color: #fff;
   margin: auto 0 auto 1rem;
   font-size: 3rem;
 }

 nav ul {
   list-style-type: none;
   background-color: #ccc;
   width: 100%;
 }

 a {
   text-decoration: none;
   color: #000;
 }

nav ul li {
  display: inline-block;
}

li {
  list-style-type: none;
  padding: 5px 0;
}

 /*
  * TABLE
  */

  table, td, th {
    border: 1px solid black;
  }

  td {
    padding: 5px 15px;
  }

  th:first-child {
    padding-right: 30px;
  }

  td:nth-child(2) {
    padding-right: 50px;
  }

 /*
  * BUTTONS
  */
  .text-link {
    color: #a6093d;
    text-decoration: underline;
  }

  .text-link:hover{
    color: #d2849e;
  }
  .logout {
    float: right;
    color: #fff;
    font-family: 'Crimson Text', serif;
    font-weight: 400;
    font-size: 1.5rem;
    margin: auto 2rem auto 0;
    transition: 0.5s ease-in-out;
  }

  .logout:hover {
    background-color: white;
    color: #a6093d;
    padding: 16px;
    transition: 0.5s ease-in-out;
  }

  .nav-link {
    font-size: 1.5rem;
    padding: 0 3rem;
  }

  .nav-link:hover {
    background-color: #bbb;
  }

 .submit, .edit {
   background-color: #eee;
   color: #000;
   border: 1px solid black;
   border-radius: 10px;
   padding: 0 5px;
   font-size: 1rem;
 }

 .submit {
   background-color: #ccc;
   padding: 5px;
   margin: 0 auto;
   font-size: 1.5rem;
 }

 form .submit {
   display: block;
 }

 /**
 * Containers
 */

 .top-header {
   display: flex;
   justify-content: space-between;
   background-color: #a6093d;
 }
