{% extends "layouts/base.html" %}

{% block title %}{{ course[1] }} {{ course[2] }}{% endblock %}

{% block logout %}<a href="/logout" class="logout">Logout</a>{% endblock %}

{% block nav %}
  {% if g.user['role'] == 'teacher' %}
    <li><a href="/" class="nav-link">Home</a></li>
    <li><a href="/courses/list" class="nav-link">Course List</a></li>
  {% elif g.user['role'] == 'student' %}
    <li><a href="/" class="nav-link">Home</a></li>
    <li><a href="/courses/list" class="nav-link">Your Schedule</a></li>
  {% endif %}
{% endblock %}

{% block content %}
  {% if g.user['role'] == 'teacher' %}
    <h2>Your Sessions</h2>
        <ul>
          {% for session in sessions %}
            <li><a href={{ url_for('sessions.edit_session', id=session[0]) }} class="edit">Edit</a> - {{ course[1] }} {{ session[1] }} - {{ session[3] }}</li>
          {% endfor %}
        </ul>

      <a href={{ url_for('sessions.create_session', id=course[0]) }} class="submit">Add New Session</a>


    <h2>Your Assignments</h2>

      <ul>
        {% for assignment in assignments %}
          <li> <a href={{ url_for('assignments.edit_assignment', id=assignment[0]) }} class="edit">Edit</a> - {{ assignment[1] }}</li>
        {% endfor %}
      </ul>

    <a href={{ url_for('assignments.create_assignment', id=course[0]) }} class="submit">Add New Assignment</a>

  {% elif g.user['role'] == 'student' %}
    <h2>Your Assignments</h2>

      <ul>
        {% for assignment in assignments %}
          <li><a href={{ url_for('assignments.assignment', id=assignment[0]) }} class="text-link">{{ assignment[1] }}</a></li>
        {% endfor %}
      </ul>

  {% endif %}

{% endblock %}
