{% extends "layouts/base.html" %}

{% block title %}Add Courses{% endblock %}

{% block logout %}<a href="/logout" class="logout">Logout</a>{% endblock %}

{% block nav %}
  {% if g.user['role'] == 'teacher' %}
    <li><a href="/" class="nav-link">Home</a></li>
    <li><a href="/courses/list" class="nav-link">Course List</a></li>
  {% endif %}
{% endblock %}

{% block content %}
  <form method="post">
    <label for="course_number">Course Number
      <input type="text" name="course_number" required/>
    </label>
    <label for="course_title">Course Title
      <input type="text" name="course_title" required/>
    </label>
    <input type="submit" value="Add Course" class="submit" />
  </form>
{% endblock %}
