{% extends "layouts/base.html" %}

{% block title %}Course List{% endblock %}

{% block logout %}<a href="/logout" class="logout">Logout</a>{% endblock %}

{% block nav %}
  {% if user[3] == 'teacher' %}
    <li><a href="/" class="nav-link">Home</a></li>
    <li><a href="/courses/list" class="nav-link">Course List</a></li>
  {% endif %}
{% endblock %}

{% block content %}
  <h2>Your Courses</h2>

    <ul>
      {% for course in courses %}
        <li> <a href="{{ url_for('courses.edit_course', id=course[0])}}" class="edit">Edit</a> - {{ course[1] }} - {{  course[2] }}<a href="{{ url_for('sessions.create_session', id=course[0])}}" class="edit">Add Session</a>
         <ul>
            {% for session in sessions %}
            <li><a href="{{ url_for('sessions.edit_session', id=session[0])}}" class="edit">Edit</a>{{course[2]}} – {{session[1]}} - {{session[3]}}</li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>

  <a href="{{ url_for('courses.create_course') }}" class="submit">Add New Course</a>

{% endblock %}
