{% extends "layouts/base.html" %}

{% block title %}TSCT Portal{% endblock %}

{% block content %}
  {% if user == None %}
    <form method="post">
      <label for="email">Email
        <input type="email" name="email" />
      </label>
      <label for="password">Password
        <input type="password" name="password" />
      </label>
      <input type="submit" value="Login" />
    </form>
  {% else %}
    <p>hello {{user[1]}}</p>
    <a href="/logout">Logout</a>
  {% endif %}
{% endblock %}
