{% extends "layouts/base.html" %}

{% block title %}TSCT Portal{% endblock %}

{% block logout %}
  {% if user %}
    <a href="/logout" class="logout">Logout</a>
  {% endif %}
{% endblock %}

{% block nav %}
  {% if user %}
    {% if user[3] == 'teacher' %}
      <li><a href="/" class="nav-link">Home</a></li>
      <li><a href="/courses/list" class="nav-link">Course List</a></li>
    {% elif user[3] == 'student' %}
      <li><a href="/" class="nav-link">Home</a></li>
      <li><a href="/courses/list" class="nav-link">Your Schedule</a></li>
    {% endif %}
  {% endif %}
{% endblock %}

{% block content %}
  {% if user == None %}
    <form method="post">
      <label for="email">Email
        <input type="email" name="email" />
      </label>
      <label for="password">Password
        <input type="password" name="password" />
      </label>
      <input type="submit" value="Login" />
    </form>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  {% else %}
    <p>Welcome {{user[4]}}!</p>
  {% endif %}
{% endblock %}
